@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/clarendon');


@font-face {
    font-family: "notosans-telugu";
    src: url("./NotoSansTelugu-VariableFont_wdth\,wght.ttf")
}

@font-face {
    font-family: "Bodoni";
    src: url('https://fonts.cdnfonts.com/css/bodoni');
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

@import url('font/sentinel/stylesheet.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');