@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "CLARENDON";
    src: url("./CLARENDON.ttf");
}

@font-face {
    font-family: "notosans-telugu";
    src: url("./NotoSansTelugu-VariableFont_wdth\,wght.ttf")
}
