/* CUSTOM CSS */
/* if you're looking at this i'm so sorry that it's so messy >.<
    i promise i usually write better code than this <3 */

* {
    /* --background-color: rgb(252, 247, 235); */
    --background-color: rgb(255,255,255);
    --text-color: rgb(31, 23, 31);
    --hover-color: rgb(38, 29, 6);
}
@import url('font/sentinel/stylesheet.css');

::selection {
    background-color: #decade;
}

html {
    background-color: var(--background-color);
    /* margin-top: 2rem; */
    margin-right: 2rem;
    margin-left: 2.5rem;
    scroll-behavior: smooth;
    /* padding: 1rem; */
}


p {
    color: inherit;
    line-height: 145%;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* overflow-wrap: break-word; */
    /* margin-top: 3rem; */
    font-size: 0.90rem;
}

/* section:hover .highlight { */
    /* background-color: #decade; */
    /* background-color: rgb(179, 255, 77); */
    /* background-color: rgb(255, 217, 255) */
/* } */

p:hover {
    color: var(--hover-color);
}

#id_about {
    margin-top: 38vh;
    color: var(--text-color);
    display: block;
    visibility: hidden;
    /* font-size: 1.2vw; */
    /* font-family: "sans-mono"; */
}

#id_leftcol {
    /* width: 80%; */
    height: 99vh;
    margin-left: 10vw;
    padding-left: 2vw;
    /* padding-right: 2vw; */
    /* overflow-y: auto; */
    /* margin-top: 4vh; */
}

#id_rightcol {
    position: fixed;
    top: 0; 
    right: 0; 
    width: 40%; 
    height: 100vh;
    align-items: center; 
    justify-content: center;
    margin-right: 5vw;
    padding-left: 2vw;
}

/* #id_rightcol {
    /* position: fixed;
    top: 0;
    right: 0; */


    /* width: 100%; */
    /* margin-right: 8vw; */
     /* Adjust the width as needed */


    /* height: 100vh; Adjust the height as needed */
    /* overflow-y: auto; */
    /* padding-left: 10px; Add padding to the left */
/* }  */


#id_image_container {
    margin-right: 10vw;
    padding-left: 5px;
    margin-top: 25vh;
    height: 45vh;
    align-items: center;
}

#id_profile {
    height: 45vh;
    visibility: hidden;
}

.content {
    color: inherit;
}

#id_name {
    font-size: 2rem;
    color: rgb(100, 0, 0); 
    margin-bottom: -5px; 
    font-family: "Sentinel Pro"; 
    font-weight: bold;
    
}

#id_job {
    font-size: 1.5rem;
    color: rgb(84, 0, 0); 
    font-family: "Sentinel Pro"; 
    font-style: normal; 
    font-weight: 500;
    
}

#id_selected {
    visibility: hidden;
}

#id_motion {
    color: rgb(255,218,0);
    font-family: "Sentinel Pro";
    text-decoration: underline;
}

#id_motion:hover {
    color: black;
    background-color: yellow;
}

#id_spark {
    font-family: "Sentinel Pro";
    text-decoration: underline;
    color: #1877f2;
    font-weight: 600;
}

#id_spark:hover {
    color: white;
    background-color: #1877f2;
}

#id_yolo {
    font-family: "Sentinel Pro";
    text-decoration: underline;
    /* color:  rgb(255,217,255); */
}

#id_yolo:hover {
    background-color: rgb(255,217,255);
    /* color: white; */
}

#id_d3 {
    color: hsl(20 85% 57%);
    font-family: "Sentinel Pro";
    font-weight: 600;
}

#id_d3:hover {
    color: black;
    background-color: hsl(20 85% 57%);
}

#id_study {
    font-family: "Sentinel Pro";
    text-decoration: underline;
    color: rgb(0,77,255);
}

#id_study:hover {
    color: black;
    background-color: rgb(255,217,255);
}

#id_needle {
    font-family: "Sentinel Pro";
    text-decoration: underline;
}

#id_needle:hover {
    background-color: rgb(255,217,255);
}

.definitions {
    display: none;
}

@media (min-width: 768px) {
    p {
        font-size: 1.15rem;
    }
}

@media (min-width: 1280px) {
    #id_leftcol {
        width: 500px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    #id_leftcol {
        width: 420px;
    }
}

@media (max-width: 800px) {
    p {
        font-size: 2vw;
    }
}



@media screen and (max-width: 600px) {
    #id_name {
        font-size: 2rem;
    }
    #id_job {
        font-size: 1.3rem;
    }
    p {
        font-size: 1.2rem;
    }
    /* #id_leftcol { */
        /* width: 70vw; */
        /* padding-right: 20vw; */
        /* margin-right: 10vw;
        padding-right: 5vw; */
        /* margin-left: 15vw; */
    /* } */
    #id_rightcol {
        display: none;
    }
}




@media (max-width: 768px) {
    #id_profile {
        max-width: 100%;
        /* height: auto; */
    }
    /* #id_image_container {
        margin-top: 35vh;
    } */
}


