/* CUSTOM CSS */
* {
    --background-color: rgb(252, 247, 235);
    --text-color: rgb(31, 23, 31);
}

html {
    background-color: var(--background-color);
    margin: 1.5rem 2rem 3rem;
    margin-left: 2.5rem;
    padding: 1rem;
}

p {
    color: var(--text-color);
    /* font-size: 0.90rem; */
}

#id_about {
    margin-top: 20vh;
    /* font-family: "sans-mono"; */
}

@media (min-width: 700px) {
    .col-span-1 {
        width: 60%;
        margin-left: 8vw; 
        margin-right: 2vw; 
    }
}

