/* CUSTOM CSS */
* {
    --background-color: rgb(252, 247, 235);
    --text-color: rgb(31, 23, 31);
    --hover-color: rgb(38, 29, 6);
}

html {
    background-color: var(--background-color);
    margin: 1.5rem 2rem 3rem;
    margin-left: 2.5rem;
    padding: 1rem;
}


p {
    color: var(--text-color);
    line-height: 150%;
    /* margin-top: 3rem; */
    /* font-size: 0.90rem; */
}

section:hover .highlight {
    background-color: rgb(179, 255, 77);
    /* background-color: rgb(255, 217, 255) */
}

p:hover {
    color: var(--hover-color);
}

#id_about {
    margin-top: 20vh;
    /* font-family: "sans-mono"; */
}

@media (min-width: 700px) {
    .col-span-1 {
        width: 60%;
        margin-left: 12vw; 
        /* margin-right: 2vw;  */
    }
}

